{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
<div class='col-sm-6 col-sm-offset-3'>
<h1>{{ title }}</h1>
{% if confirm_message %}
<p>{{ confirm_message }}</p>
{% endif %}
{% if form %}
<form method='POST' action=''> {% csrf_token %}
	{{ form|crispy }}
<input type='submit' value='submit form' class='btn btn-default' />
</form>
{% endif %}
</div>
</div>
{% endblock %} 
