{% extends 'base.html' %}
{% load staticfiles %}

{% block jumbotron%}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Theme example</h1>
    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
  </div>
{% endblock %}

{% block content%}
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        
        <div class="col-md-4">
          <a href="#"> <img class='img-responsive' src="{% static 'img/sun.jpg' %}"/> </a>
        </div>
       
        <div class="col-md-4">
          {% if request.user.is_authenticated %}
          <h2>Hello {{ request.user }}</h2>
          {% else %}
          <form class="login" method="POST" action="{% url 'account_login' %}">
          <input name="csrfmiddlewaretoken" value="NFVNzzVxaF8qZuH3SUJxX2gbTmWDI32cBfsw5YifNc1cVR8DO2o0FyQXAEVECMxl" type="hidden">{% csrf_token %}
          <div id="div_id_login" class="form-group"> 
            <label for="id_login" class="control-label  requiredField">Login<span class="asteriskField">*</span> </label> 
            <div class="controls "> 
              <input name="login" autofocus="autofocus" required="" placeholder="Username or e-mail" class="textinput textInput form-control" id="id_login" type="text"> 
            </div> 
          </div> 
          <div id="div_id_password" class="form-group"> 
            <label for="id_password" class="control-label  requiredField">Password<span class="asteriskField">*</span> </label> 
            <div class="controls "> <input name="password" required="" placeholder="Password" class="textinput textInput form-control" id="id_password" type="password"> 
            </div> 
          </div> 
          <div class="form-group"> 
            <div id="div_id_remember" class="checkbox"> <label for="id_remember" class=""> <input name="remember" class="checkboxinput" id="id_remember" type="checkbox">Remember Me</label> 
            </div> 
          </div>
          <a class="btn btn-link button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
          <a class="btn btn-link button secondaryAction" href="{% url 'account_signup' %}">Signup</a>
          <button class="primaryAction btn btn-default" type="submit">Sign In</button>
          </form>
          {% endif %}
        </div>
      </div>

      <hr>

      <footer>
        <p>© 2016 Company, Inc.</p>
      </footer>
    </div>
{% endblock %}

